@use "sass:meta";
@use "sass:color";

/*** IMPORT FONTS	***/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/***	CSS RESET	***/
@import "./reset";

//***	SASS VARS	***/
@import "./variables";

/***	CSS UTILS	***/
@import "./utils";

/*SASS FUNCTIONS*/
/*
$font-weights: (
	"regular": 400,
	"bold": 700
);
*/

/*	FAQ Accordion Card component	*/
/*	by FrontEnd Mentor - https://www.frontendmentor.io/challenges/faq-accordion-card-XlyjD0Oam/hub/faq-accordion-card-L6YA9Ss1X	*/
:root {
	/***	Layouts 	***/
	--layout-mobile: #{$layout-mobile};
	--layout-desktop: #{$layout-desktop};

	/***	Colors	***/
	--dark-blue: #{$dark-blue}; //	hsl(238, 29%, 16%);
	--soft-red: #{$soft-red}; //	hsl(14, 88%, 65%);
	--soft-violet: #{$soft-violet}; //	hsl(273, 75%, 66%);
	--soft-blue: #{$soft-blue}; //	hsl(240, 73%, 65%)

	/***	Gradient	***/
	--bg-gradient: linear-gradient(0deg, #{$soft-blue}, #{$soft-violet});

	/***	Neutrals	***/
	/*	Text	*/
	--darkness-grayish-blue: #{$darkness-grayish-blue}; //	hsl(237, 12%, 33%)
	--dark-grayish-blue: #{meta.inspect($dark-grayish-blue)}; //	hsl(240, 6%, 50%)
	// --dark-grayish-blue666: hsl(#{color.hue($dark-grayish-blue)},#{color.saturation($dark-grayish-blue)},#{color.lightness($dark-grayish-blue)}); //	hsl(240, 6%, 50%)
	/*	Bg Component	*/
	--light-grayish: #{$light-grayish}; //	hsl(240, 0%, 95%)
	/*	Dividers	*/
	--light-grayish-blue: #{$light-grayish-blue}; //	 hsl(240, 5%, 91%)

	/***	Typography	***/
	--font-size: #{$font-size};
	--font-family: #{meta.inspect($font-family)};
	--font-regular: #{$font-regular};
	--font-bold: #{$font-bold};
}

html,
body {
	background-color: var(--soft-blue, #{$soft-blue});
	background-image: var(--bg-gradient);

	background-repeat: no-repeat;
	background-position: center center;

	font-family: var(--font-family, $font-family);
	font-size: var(--font-size, 0.8em);
	font-weight: var(--font-regular, #{font-weights(regular)});

	color: var(--light-grayish-blue, $light-grayish-blue);

	// display: flex;
	// justify-content: center;
	// align-items: center;
	// flex-direction: column;
}

.content__header {
	position: fixed;
	z-index: 10;
	text-align: right;
	width: 100%;
	padding: 1rem;

	& .header__theme-switcher > label {
		cursor: pointer;
	}

	/*	WIP -Change theme	*/
	display: none;
}

.content__main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	min-height: 100vh;
}

.faq__component {
	margin: 12rem auto 4rem auto;
	padding: 20pt;
	width: 328px;
	min-height: 510px;

	border-radius: 20pt;

	display: flex;
	flex-direction: column;

	background-color: var(--light-grayish, $light-grayish);
	border: 1px solid var(--light-grayish, $light-grayish);
	background-image: url("../images/bg-pattern-mobile.svg");
	background-repeat: no-repeat;
	background-position: top center;

	color: var(--dark-grayish-blue, #444);

	box-shadow: 0 30pt 30pt -15pt var(--darkness-grayish-blue);
	box-shadow: 0 30pt 30pt -15pt var(--darkness-grayish-blue),
		2px 2px 3px var(--light-grayish, $light-grayish) inset,
		5px 5px 6px hsla(0, 0%, 100%, 0.33) inset, -4px -4px 3px inset #eaeaea;
}

.faq__decorations {
	min-height: 8em;
	position: relative;

	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.faq__decorations-woman {
	align-self: center;
	max-width: 238px;
	position: absolute;
	top: -138px;

	z-index: 20;
}

.faq__decorations-box {
	position: absolute;
	z-index: 40;

	width: 100px;
	top: -75px;
	left: 5px;

	animation-name: box-mobile;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

@keyframes box-mobile {
	from {
		top: -75px;
	}

	to {
		top: -90px;
	}
}

/***	FAQ MAIN	***/
.faq__main {
	flex-grow: 1;
}

h1,
.faq__header {
	font-size: 24pt;
	text-align: center;
	color: var(--darkness-grayish-blue, $darkness-grayish-blue);
}

.faq__article {
	border-bottom: 1px solid var(--light-grayish-blue, #ddd);
	color: var(--dark-grayish-blue);
	padding: 10pt 0;
	cursor: pointer;

	transition: box-shadow 1s;

	box-shadow: 0px 0px 0px 0px var(--dark-grayish-blue);

	h2,
	.faq__article-title {
		position: relative;
		font-size: 10pt;
		font-weight: var(--font-regular, normal);

		&::after {
			content: " ";
			display: block;
			min-width: 10pt;
			min-height: 10pt;
			background: url("../images/icon-arrow-down.svg") transparent
				no-repeat center bottom;
			position: absolute;
			top: 0;
			right: 0;
			opacity: 0.8;
			transition: transform 0.33s;
		}
	}

	.faq__article-answer {
		margin-top: auto;
		padding-top: 0.5rem;
		font-size: 9pt;
		font-weight: var(--font-regular, normal);
		// display: none;
		height: 0px;
		overflow: hidden;

		transition: height 0.5s, opacity 1s;

		opacity: 0.1;
	}

	&:hover {
		color: var(--darkness-grayish-blue, #333);

		// background-image: linear-gradient(0deg, var(--light-grayish-blue),white 15%, white 85%,var(--light-grayish-blue));
		box-shadow: 0px 4px 8px -8px var(--dark-grayish-blue);

		h2,
		.faq__article-title {
			// font-weight: var(--font-bold, bold);

			&::after {
				opacity: 1;
				background-position-y: 110%;
			}
		}
	}

	&.active,
	&--active {
		color: var(--darkness-grayish-blue, #444);
		box-shadow: 0px 4px 8px -8px var(--dark-grayish-blue);

		h2,
		.faq__article-title {
			font-weight: var(--font-bold, bold);

			&::after {
				transform: scaleY(-1);
			}
		}

		.faq__article-answer {
			// display: block;
			opacity: 1;
			// height: inherit;
		}
	}
}

/***************************/
/***	DESKTOP STYLES	***/
@media screen and (min-width: $layout-desktop) {
	@import "./desktop";
}

//	****	FOR DEBUGING	****	//
// @import	"./debugging";
